<html>

<head>
  <title>Video stream sample</title>
</head>

<body>
  <form method="post">
    <input type="text" name="name" placeholder="Enter product name">
    <input type="test" name="description" placeholder="Enter product description">
    <input type="test" name="price" placeholder="Enter product price">
    <input type="test" name="category" placeholder="Enter product category">
    <button type="submit">create</button>
  </form>
  <a href="/products">products</a>
  <a href="/categories">Categories</a>
</body>

</html>